body {
    width: 100vw;
    height: 100vh;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: #fff 1.5px solid;
    border-radius: 2px;
}
