body {
    width: 100vw;
    height: 100vh;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    --size: min(1000px, 80vw);

    border: #fff 2px solid;
    border-radius: 10px;
    width: var(--size);
    height: var(--size);
}

canvas {
    border-radius: 10px;
    width: 100% !important;
    height: 100% !important;
}
