body {
    width: 100vw;
    height: 100vh;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    --size: min(1000px, 80vw);

    border: #fff 2px solid;
    border-radius: 10px;
    width: var(--size) !important;
    height: var(--size) !important;
}
