body {
    width: 100vw;
    height: 100vh;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    overflow: hidden;
    border: #fff 2px solid;
    border-radius: 10px;
    --size: min(80vw, 80vh);
    width: var(--size);
    height:var(--size);
}

canvas {
    width: 100% !important;
    height: 100% !important;
}
