#root {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #ccc;
    margin-top: 60px;
}

h1 {
    margin-bottom: 50px;
}

a {
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    color: #ccc;
    margin: 40px;
}

a:hover {
    color: #008888;
}