body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #111;
    display: grid;
    grid-template-areas: "nav canvas";
    grid-template-columns: 1fr 5fr; 
    font-family: REM, Helvetica, Arial, sans-serif;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

#sidebar {
    height: 100vh;
    background-color: #222;
    color: white;
}

#nav {
    list-style: none;
}

#nav li {
    cursor: pointer;
    padding: 10px;
}

#nav li:hover {
    background-color: #202020;
}

#nav li:hover:before {
    position: absolute;
    left: 20px;
    content: '>';
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    margin: 40px;
    color: white;
}

a:hover {
    color: #eee;
}
